/*
 * reStart Boilerplate / reStart Angular
 * Author: Kim Maida 
 * Author URI: <http://kim-maida.com>
 * Source: <https://github.com/kmaida/reStart-angular>
 * License: GNU Public License
*/

/*-- Core --*/

@import 'core/partials/colors.vars';
@import 'core/partials/layout.vars';
@import 'core/partials/responsive.partial';

@import 'core/base';
@import 'core/fonts';
@import 'core/presentation';
@import 'core/layout';
@import 'core/print';

/*-- Modules --*/

@import 'modules/header';
@import 'modules/nav';
@import 'modules/footer';
@import 'modules/404';
@import 'modules/loading';