{
  // http://eslint.org/docs/rules/

  "env": {
    "jquery": true      // jquery global variables.
  },

  "globals": {
    "$"      : true
  },

  "rules": {
    // ESLint
    "no-unused-vars": 0,
    "no-console": 0,
    "no-undef": 0,
    "no-use-before-define": 0
  }
}
