{
  // http://eslint.org/docs/rules/

  "env": {
    "jquery": true      // jquery global variables.
  },

  "globals": {
    "$"      : true
  },

  "rules": {
    // ESLint
    "no-unused-vars": 0,
    "no-console": 0,
    "no-undef": 0,
    "no-use-before-define": 0,

    // Best Practices
    "no-loop-func": 2,
    "no-return-assign": 2,
    "wrap-iife": 2,

    // Stylistic issues
    "quotes": [2, "single", "avoid-escape"],
    "indent": [2, "tab"],
    "one-var": [2, "never"],
    "no-spaced-func": 2,
    "space-before-function-paren": [2, "never"],
    "space-before-blocks": [2, "always"],
    "semi": 2
  }
}
