/*--------------------
	    HEADER
--------------------*/

.header {

}
.title-global {
	text-align: center;
}

/*-- Menu toggle --*/

.toggle-offcanvas {
	background: #ccc;
	height: 50px;
	padding: 23px 13px;
	position: absolute;
	text-align: center;
	width: 50px;

	span,
	span:before,
	span:after {
		background: $color-white;
		border-radius: 1px;
		content: '';
		display: block;
		height: 4px;
		position: absolute;
		transition: all 250ms ease-in-out;
		width: 24px;
	}
	span {
		&:before {
			top: -9px;
		}
		&:after {
			bottom: -9px;
		}
	}
	.nav-open & {
		span {
			background: transparent;

			&:before,
			&:after {
				top: 0;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}

/*------------------------------------------------------------------------- Navigation --*/

.nav {
	box-shadow: inset -8px 0 8px -6px rgba(0,0,0,0.2);
	padding: $padding-screen-small;

	.active {
		font-weight: bold;
	}

	@include mq-large {
		background: $color-module-bg;
		box-shadow: none;
		padding: $padding-screen-large;
	}
}