<article id="wrapper-content" class="wrapper-content wrapper-home" view-switch>
	<section id="content-main" class="content-main content-home clearfix" ng-controller="HomeCtrl" ng-cloak>
		<p>
			<label>Name:</label>
			<input type="text" ng-model="name" />
		</p>
		<h2>{{global.greeting}}, {{name}}!</h2>
		
		<p><strong>{{json.title}}</strong> - {{json.summary}}</p>

		<div id="wrapper-markupView" class="wrapper-markupView" ng-switch on="viewformat">
			<div ng-switch-when="large">
				<section ng-include src="'view/tpl/LargeTpl.html'"></section>
			</div>
			
			<div ng-switch-when="small">
				<section ng-include src="'view/tpl/SmallTpl.html'"></section>
			</div>
		</div>
	</section>
</article>