/*
 * reStart Boilerplate / reStart Angular
 * Author: Kim Maida 
 * Author URI: <http://kim-maida.com>
 * Source: <https://github.com/kmaida/reStart-boilerplate-php> | <https://github.com/kmaida/reStart-angular>
 * License: GNU Public License
*/

/*--------------------
	  CSS RESET
--------------------*/
 
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strong, tt, var, dl, dt,
dd, ol, ul, li, fieldset, form, input, button, textarea, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	margin: 0; padding: 0;
	border: 0;
	border-radius: 0;	/* for iOS */
	font-weight: inherit; font-style: inherit; font-family: inherit;
	line-height: 1;
	text-decoration: none;
	vertical-align: baseline;
}
html { overflow-y: scroll; -webkit-text-size-adjust: none; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
sup, sub { line-height: 1; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*--------------------
	   BASICS
--------------------*/

/*-- Normalize --*/

i, em { font-style: italic; }
b, strong { font-weight: bold; }
q:lang(en) { quotes: '&#8220;' '&#8221;' '&#8216;' '&#8217;'; }
h1, h2, h3, h4, h5, h6, p { margin-bottom: 15px; }
ul { list-style: outside disc; padding-left: 24px; }
ol { list-style: outside decimal; padding-left: 24px; }
a, label, input[type=button], input[type=submit], button { cursor: pointer; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
pre,code { background: #eee; border: 1px solid #ccc; font-family: Consolas, 'Lucida Console', 'Courier New', serif; padding: 2%; }
input, select, textarea { border: 1px solid #ccc; font-family: inherit; font-size: inherit; padding: 3px 6px; }
input, select { vertical-align: middle; }
textarea { overflow: auto; } /* prevents scrollbar from showing up when unneeded in IE */

/*-- Clearfix --*/

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after { clear: both; }
.ie7 .clearfix { zoom: 1; }

/*-- Image Replacement --*/

.ir {
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
}

/*-- Inline link touch targets --*/

.touch p a {
	margin: 0 -.5em;
	padding: 0 .5em;
}

/*--------------------
	   FONTS
--------------------*/

/* Full @font-face declaration */

@media only screen and (max-width: 320px), screen and (max-device-width: 720px) and (orientation:portrait), screen and (max-device-width: 1280px) and (orientation:landscape) {
	/* for mobile devices, only load SVG font
	see: http://stackoverflow.com/questions/20890489/font-face-declarations-dont-work-in-android-4-3-internet-browser

	@font-face {
		font-family: 'FontName';
		src: url('../fonts/FontName.svg#FontName') format('svg');
		font-weight: normal;
		font-style: normal;
	} */
}

/*--------------------
	LAYOUT FUNCTION
--------------------*/

.wrapper-overflow {
	overflow: hidden;	/* necessary to handle offcanvas scrollbar behavior */
}

/*------------------------------------------------------------------------- Off-canvas Functionality --*/

.nav-global {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	box-shadow: inset -8px 0 8px -6px rgba(0,0,0,0.2);
	display: none;	/* deal with FOUC */
	height: 100%;
	overflow: hidden;
	position: absolute;
		top: 0;
	-webkit-transform: translate3d(-100%,0,0);
	-moz-transform: translate3d(-100%,0,0);
	-o-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	width: 85%;
}
.nav-closed .nav-global,
.nav-open .nav-global  {
	display: block;	/* deal with FOUC */
}
	.no-csstransforms3d .nav-closed .nav-global { left: -100%; }
	.no-csstransforms3d .nav-open .nav-global { left: 0; }
.wrapper-canvas {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
		left: 0;
	-webkit-transition: -webkit-transform 250ms ease;
	-moz-transition: -moz-transform 250ms ease;
	-o-transition: -o-transform 250ms ease;
	transition: transform 250ms ease;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	width: 100%;
}
	.csstransforms3d .nav-open .wrapper-canvas {
		-webkit-transform: translate3d(85%,0,0);
		-moz-transform: translate3d(85%,0,0);
		-o-transform: translate3d(85%,0,0);
		transform: translate3d(85%,0,0);
	}
	.no-csstransforms3d .nav-open .wrapper-canvas { left: 85%; }

/*--------------------
	 PRESENTATION
--------------------*/

body {
	background: #eee;
	font: normal 16px/1.2 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}
.wrapper-canvas {
	background: #fff;
}

/*------------------------------------------------------------------------- Header --*/

.header-global {
	
}
.toggle-offcanvas {
	background: #ccc;
	float: left;
	padding: 3% 0;
	text-align: center;
	width: 15%;
}
.title-global {
	text-align: center;
}
.nav-global .active {
	font-weight: bold;
}

/*------------------------------------------------------------------------- Navigation --*/

.nav-global {
	padding: 3%;
}
.nav-global .active a {
	color: #900;
	font-weight: bold;
}

/*------------------------------------------------------------------------- Content --*/

article {
	padding: 3%;
}

/*------------------------------------------------------------------------- Footer --*/

.footer-global {
	padding: 3%;
	text-align: center;
}

/*--------------------
	MEDIA QUERIES
--------------------*/

/*------------------------------------------------------------------------- Large View --*/

@media screen and (min-width: 641px) {
	
	/*-- Layout Function --*/
	
	.nav-global {
		display: block;
		position: relative;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
		width: 100%;
	}
	.wrapper-canvas {
		-webkit-transition: none;
		-moz-transition: none;
		-o-transition: none;
		transition: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		transform: none;
	}
	.toggle-offcanvas {
		display: none;
	}
	
	/*-- Presentation --*/
	
	.nav-global {
		background: #ccc;
		box-shadow: none;
	}
	
	.nav-global,
	article,
	.footer-global {
		padding: 1.5% 3%;
	}
}

/*------------------------------------------------------------------------- Print --*/

@media print {

	* { background: #fff; }	
	body { 
		color: #000;
		font: normal 16px/1.4 Georgia, 'Times New Roman', serif; 
	}
	
	/*-- Hidden Elements --*/
	
	.header-global,
	.footer-global { display: none; }
	
	/*-- Show link URLs --*/
	
	a:link, 
	a:visited { 
		color: blue; 
		text-decoration: underline; 
	}	
	a:link:after, 
	a:visited:after { 
		content:" [" attr(href) "] "; 
		font-size: 75%;
	}

}