/*--------------------
	COLOR VARIABLES
--------------------*/

/*-- Color definitions --*/

$color-black: #000;
$color-white: #fff;
$color-black-almost: #333;
$color-gray: #ccc;
$color-gray-light: #eee;

/*-- Color by function --*/

$color-bg-light: $color-gray-light;
$color-bg: $color-white;
$color-module-bg: $color-gray;
$color-text: $color-black-almost;

/*------------------------------------------------------------------------- Padding --*/

$padding-screen-small: 3%;
$padding-screen-large: 1.5% 3%;