<article id="content-wrapper" class="content-wrapper home-wrapper">
	<section id="content-main" class="content-main home-content clearfix" ng-cloak>
		<h1 class="content-heading">{{::home.title}}</h1>

		<p>
			<label>Name:</label>
			<input type="text" ng-model="home.name" />
			<button ng-click="home.alertGreeting(home.name)">Greet</button>
		</p>

		<h2>{{::home.global.greeting}}, {{home.name}}!</h2>
		
		<p>{{::home.json.summary}}</p>

		<p ng-bind-html="home.stringOfHTML | trustAsHTML"></p>

		<h3>View Switching</h3>

		<p>The following view is manipulated by the current media query. Resize your browser window to see the
			display change.</p>

		<p><strong>Display:</strong> {{home.viewformat === 'large' ? 'Table (large view)' : 'List (small view)'}}</p>

		<div id="markupView-wrapper"
			 class="markupView-wrapper"
			 ng-switch="home.viewformat">
			<div ng-switch-when="large">
				<section ng-include="'ng-app/home/large.tpl.html'"></section>
			</div>

			<div ng-switch-when="small">
				<section ng-include="'ng-app/home/small.tpl.html'"></section>
			</div>
		</div>
	</section>
</article>